*,
*:focus {
    outline: none
}
#filter
 {
    width: 500px;
    margin: 0 auto;
    margin-top: 150px;
    font-family: sans-serif;
    background: #fff
}

#filter {
    position: relative;
    margin-bottom: 15px
}

    #filter input {
        display: block;
        width: 400px;
        height: 40px;
        background: transparent;
        border: solid 1px #ccc;
        transition: all .3s ease;
        padding: 0 15px
    }

        #filter input:focus {
            border-color: blue
        }

    #filter label {
        position: absolute;
        cursor: text;
        z-index: 2;
        top: 13px;
        left: 10px;
        font-size: 12px;
        font-weight: bold;
        background: #fff;
        padding: 0 10px;
        color: #999;
        transition: all .3s ease
    }

    #filter input:focus + label,
    #filter input:valid + label {
        font-size: 11px;
        top: -5px
    }

    #filter input:focus + label {
        color: blue
    }
